<nav class=" navbar container bg fixed-bottom">
    <div class="col-md-12">
        <h6 class="  text-center footer-heading  mb-4">© 2023 All right reserved by Jitu Web Solution</h6>
    </div>
</nav>