<nav class="navbar  navbar-expand-lg fixed-top bg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <!-- <img src="/img/PHOTO_200.jpeg" alt="" width="30" height="24" style="border-radius: 50px;"
                class="d-inline-block align-text-top"> -->
            <i class="fa-sharp fa-solid fa-code"></i> Jitu Web Solution
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="d-flex">
            <a href="/login" class="btn btn-outline-success text-white mx-2">Sign In</a>
            <a href="/register" class="btn btn-outline-success text-white mx-2">Sign Up</a>
        </div>

    </div>

</nav>