<nav class="navbar  navbar-expand-lg fixed-top bg">
    <div class="container-fluid">
        <% if(locals.isAuthenticated===true) { %>
            <!-- <a class="navbar-brand" href="/dashboard"><i class="fa-sharp fa-solid fa-code"></i> Jitu Web Solution
            </a> -->
            <a class="navbar-brand" href="/dashboard"><img src="\img\newLogo\new-logo.png" alt="jitu-web-logo"></a>
            <% }else {%>
                <!-- <a class="navbar-brand" href="/"><i class="fa-sharp fa-solid fa-code"></i> Jitu Web Solution
                </a> -->
                <a class="navbar-brand" href="/"><img src="\img\newLogo\new-logo.png" alt="jitu-web-logo"></a>

                <%}%>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-sliders"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <% if(locals.isAuthenticated===true) { %>

                                <div class="d-flex">

                                    <li class="nav-item">
                                        <a class="nav-link active text-white" aria-current="page"
                                            href="/dashboard">Dashboard</a>
                                    </li>
                                    <a class="btn btn-outline-success text-white" href="/user/logout">Logout</a>
                                </div>

                                <% }else {%>
                                    <li class="nav-item">
                                        <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white" href="/#services"
                                            id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Services
                                        </a>
                                        <ul class="dropdown-menu bg " aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item text-white" href="/#services">UI/UX Design</a>
                                            </li>
                                            <li><a class="dropdown-item text-white" href="/#services">Web
                                                    Development</a></li>
                                            <li><a class="dropdown-item text-white" href="/#services">Software
                                                    Development</a></li>
                                            <li><a class="dropdown-item text-white" href="/#services">Full Stack
                                                    Development</a>
                                            </li>


                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="/#about-us">About Us</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white" href="/#technology"
                                            id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Technology
                                        </a>
                                        <ul class="dropdown-menu bg " aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item text-white" href="/#technology">Node Js</a></li>
                                            <li><a class="dropdown-item text-white" href="/#technology">PHP</a></li>
                                            <li><a class="dropdown-item text-white" href="/#technology">HTML</a></li>
                                            <li><a class="dropdown-item text-white" href="/#technology">CSS</a></li>
                                            <li><a class="dropdown-item text-white" href="/#technology">JS</a></li>
                                            <li><a class="dropdown-item text-white" href="/#technology">BOOSTRAP</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="/#our-portpolio">Portpolio</a>
                                    </li>

                        </ul>
                        <div class="d-flex">

                            <a href="/#get-in-touch" class="btn btn-outline-success text-white">Get In Touch <i
                                    class="fa-solid fa-keyboard"></i></a>
                            <!-- <a class="btn btn-outline-success text-white" href="/user/login">Admin</a> -->
                        </div>
                        <%}%>
                    </div>
    </div>
</nav>