<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="card-title text-center mt-4 mb-4">Dashboard</div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body mt-4">
                        <h4 class="card-title">
                            Get In Touch Data
                        </h4>
                        <a href="" class="btn btn-outline-success mt-2">View Report</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body mt-4">
                        <h4 class="card-title">
                            User Register Data
                        </h4>
                        <a href="" class="btn btn-outline-success mt-2">View Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>