<div class="container">
    <div class="row">
        <div class="welcome-ui mx-auto">
            <div class="col-md-12">
                <div class="text-center mt-4 ">
                    <h2 class="welcome-heading">Welcome to Code With Jitu </h2>
                </div>
                <div class="col-md-5 mx-auto mt-4">
                    <div class="small fw-light">type to search here</div>
                    <form id="searchform " method="get" action="/">
                        <div class="input-group">
                            <input class="form-control border rounded-pill" name="search" id="test" type="search"
                                placeholder="search">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 mx-auto mt-4">

                    <div class="row">
                        <ul style="display: flex !important;  list-style: none;">
                            <li style="padding-right: 20px;">
                                <h6><span class="style-heading">Let's Connect With Jitu </span> <a href=""><i
                                            class="fa-solid fa-arrow-right"></i></a>
                            </li>
                            <li style="padding-left: 5px;"> <i class="fa-brands fa-github"></i></li>
                            <li style="padding-left: 5px;"> <i class="fa-brands fa-facebook"></i></li>
                            <li style="padding-left: 5px;"> <i class="fa-brands fa-instagram"></i></li>
                            <li style="padding-left: 5px;"> <i class="fa-brands fa-whatsapp"></i></li>
                            <li style="padding-left: 5px;"> <i class="fa-brands fa-linkedin"></i></li>
                            <li style="padding-left: 5px;"> <i class="fa-brands fa-twitter"></i></li>
                        </ul>
                    </div>
                    </h6>
                </div>

            </div>
        </div>
    </div>
</div>