<div class="container">
    <div class="row    ">

        <video playsinline autoplay muted loop poster="cake.jpg">
            <source src="/videos/video (2160p) (1).mp4" type="video/webm">
            Your browser does not support the video tag.
        </video>
        <div class="welcome-ui mx-auto">
            <div class="col-md-12">
                <div class="text-center mt-4 ">
                    <h2 class="welcome-heading">Welcome Jitu Web Solution </h2>
                </div>
                <div class="col-md-5 mx-auto mt-4">
                    <div class="small fw-light">type to search here</div>
                    <form id="searchform " method="get" action="/">
                        <div class="input-group">
                            <input class="form-control border rounded-pill" name="search" id="test" type="search"
                                placeholder="search">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 mx-auto mt-4">

                    <div class="row">
                        <ul style="display: flex !important;  list-style: none;">
                            <li style="padding-right: 20px;">
                                <h6><span class="style-heading">Let's Connect With Jitu </span> <a href=""><i
                                            class="fa-solid fa-arrow-right"></i></a>
                            </li>
                            <li style="padding-left: 5px;"> <a href="https://github.com/jitupardhi7694"><i
                                        class="fa-brands fa-github"></i></a></li>
                            <li style="padding-left: 5px;"> <a
                                    href="https://www.facebook.com/jiten.pardhi.3?mibextid=ZbWKwL"><i
                                        class="fa-brands fa-facebook"></i></a></li>
                            <li style="padding-left: 5px;"><a href="https://www.instagram.com/jitendrapardhi7694/">
                                    <i class="fa-brands fa-instagram"></i></a></li>
                            <li style="padding-left: 5px;"><a
                                    href="https://www.linkedin.com/in/jitendra-pardhi-2a699b22b/"> <i
                                        class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    </h6>
                </div>

            </div>
        </div>
    </div>
    <!-- /videos/video (2160p).mp4 -->
    <!-- ../public/videos/video (2160p) (1).mp4 -->
</div>

<div class="container mt-4">
    <div class="text-center   mb-4">
        <h2 class="h-style"><i class="fa-solid fa-circle-nodes"></i> Our Services <i
                class="fa-solid fa-circle-nodes"></i></h2>
    </div>
</div>

<div class="container">
    <div class="text-center text-white ">
        <h3><i class="fa-solid fa-code"></i> Lets Start Your Day With Jitu Web Solution <i class="fa-solid fa-code"></i>
        </h3>
    </div>
</div>



<div class="container mb-4 card-mt">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">UI/UX Design</h5>
                        <a href="/#ui-ux" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Full Stack Development</h5>
                        <a href="/#full-stack-development" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <a href="/#web-development" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <a href="/#software-development" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ui-ux" class="mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What is User Experience Design?</h5>
                    <p class="card-text text-white">User experience design, on the other hand, is all about how a web
                        application
                        works. It’s the part of the design process that focuses on making sure that the user experience
                        is as smooth and intuitive as possible. A good UX designer will take into account things like
                        users’ needs and goals, navigation, and overall functionality and process flow when creating a
                        web application.</p>



                    <h5 class="card-title ">The UX Design Process</h5>

                    <p class="card-text text-white">The UX design process typically involves the following steps:</p>
                    <ul>
                        <li>
                            <p class="card-text text-white"><strong> Research:</strong> The first step in the UX design
                                process is to
                                research the
                                needs and goals of your users.
                                This can be done through interviews, surveys, and focus groups. This is usually
                                conducted by a
                                seasoned business analyst.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Planning:</strong> Once you have a good
                                understanding of your users,
                                you can
                                start planning the overall
                                structure and navigation of the web application.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong> Design:</strong> The next step is to design the
                                user interface. This
                                is where
                                you’ll focus on things like
                                color scheme, typography, and layout. Mockups of the design are critical at this stage
                                so
                                stakeholders can see the designer’s vision.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Testing:</strong> Once the interface is designed,
                                it’s important to
                                test it out
                                with real users. This will
                                help you catch any errors or problems with the design.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong> Launch:</strong> Once the web application is
                                finalized, it’s time to
                                launch it!
                            </p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Refinement:</strong> Seldom is a complex web
                                application perfect
                                right out of
                                the gate. Actions that appear
                                to be fine in testing may turn out to be quite tedious if done all day long every day. A
                                user
                                interface can be streamlined even more after receiving real world feedback from users.
                            </p>
                        </li>
                    </ul>
                    <h5 class="card-title">UI/UX Design Language</h5>
                    <div class="card-text text-white">HTML, CSS </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="full-stack-development" class="mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Full Stack Development Introduction</h5>
                    <p class="card-text text-white ">Full stack development is the process of designing,
                        creating,
                        testing, and
                        deploying a complete web application from start to finish. It involves working with various
                        technologies and tools, including front-end web development, back-end web development, and
                        database development. And full stack development is a term used to describe a software engineer
                        or developer who works with both the front and back end of a website or application. A
                        full-stack developer is comfortable working with front-end and back-end technologies that power
                        a website or application. </p>
                    <h5 class="card-title">Front End Development Lnaguage </h5>
                    <p class="card-text text-white">HTML, CSS, JavaScript and Boostrap </p>
                    <h5 class="card-title">Back End Language </h5>
                    <p class="card-text text-white">PHP, NodeJs</p>
                    <h5 class="card-title">Database Use</h5>
                    <p class="card-text text-white">SQL, MySQL</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="web-development" class=" mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text text-white">Creating a website consists of two main steps: website development
                        and website design. But it can also entail website programming, website publishing, and database
                        management.</p>

                    <p class="card-text text-white"> Web development refers to the functionality of a website, while web
                        design describes the look of
                        a website. Both are equally important skills when it comes to building a website. You can have
                        the best-looking website that is perfectly curated for your brand, but if it doesn’t function
                        properly, it’s not going to be successful. And vice versa.</p>
                    <h5 class="card-title">Front End Development Lnaguage </h5>
                    <p class="card-text text-white">HTML, CSS, JavaScript and Boostrap </p>
                    <h5 class="card-title">Back End Language </h5>
                    <p class="card-text text-white">PHP, NodeJs</p>
                    <h5 class="card-title">Database Use</h5>
                    <p class="card-text text-white">SQL, MySQL</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="software-development" class="mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Software Development</h5>
                    <p class="card-text text-white">The Software Development Process is the structured approach to
                        developing software for a system or project, sometimes called the Software Development Life
                        Cycle (SDLC). There are several approaches (see Software Development Approaches) that can be
                        used to include waterfall, spiral, and incremental development. These different approaches will
                        focus the testing effort at different points in the development process. However, each approach
                        is composed of the same basic steps of development. The incremental development approach
                        typically forms the basis for software development within the larger systems level of
                        Evolutionary Acquisition (EA).</p>

                    <h5 class="card-title">Software Development Process Steps Follow</h5>
                    <ul>
                        <li>
                            <p class="card-text text-white"><strong>Step 1: </strong> Planning</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Step 2:</strong> Implementing</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Step 3:</strong> Testing</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Step 4:</strong> Deployment and Maintenance</p>
                        </li>
                    </ul>
                    <h5 class="card-title">Front End Development Lnaguage </h5>
                    <p class="card-text text-white">HTML, CSS, JavaScript and Boostrap </p>
                    <h5 class="card-title">Back End Language </h5>
                    <p class="card-text text-white">PHP, NodeJs</p>
                    <h5 class="card-title">Database Use</h5>
                    <p class="card-text text-white">SQL, MySQL</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title h-style text-center mb-4">About Us</h3>
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">


                <div class="col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/img/why-choose-cwj-removebg-preview.png" alt="" class="card-img">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">

                            <h2 class="card-title"><strong> Premium and Creative Website Designing
                                    Services</strong>
                            </h2>
                            <p class="card-text text-white text-capitalize">Website, UI/UX Design, mobile
                                apps, software
                                development, and logo design are areas of expertise for "Jitu Web Solution" We
                                can
                                only offer our clients the greatest services since we are constantly updated
                                with the newest technologies. We favor keeping information technology
                                concise
                                and professional-looking.
                                We have expanded into several industries, including media, e-commerce,
                                search
                                engine optimization, mobile application development, event management,
                                celebrity
                                management, and software development.</p>

                        </div>

                    </div>

                </div>
                <div class="col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-center text-decoration-underline"><i
                                            class="fa-sharp fa-solid fa-globe"></i><strong> Our
                                            Mission</strong></h4>
                                    <p class="card-text text-white">To enhancing the business growth of our customers
                                        with creative Design and Development to
                                        deliver market-defining high-quality solutions that create value and consistent
                                        competitive advantage for our clients.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-center text-decoration-underline"> <i
                                            class="fa-sharp fa-solid fa-eye"></i> <strong>Our
                                            Vision</strong></h4>
                                    <p class="card-text text-white">To become a prime performer, in providing quality
                                        Web, Print and Software solutions in the competitive global market place.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-center text-decoration-underline"><i
                                            class="fa-sharp fa-regular fa-heart"></i> <strong>Our
                                            values</strong></h4>
                                    <p class="card-text text-white">Customer satisfaction is our main focus. Jitu Web
                                        Solution was founded on the principle
                                        of offering customers trustworthy and efficient solutions while attending to
                                        their demands.
                                        Our organization's actions are motivated by our deeply held ideas and beliefs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">

                            <h3 class="card-title h-style text-center mb-4"><i class="fa-solid fa-laptop-code"></i>
                                Have a Project in your Mind
                            </h3>
                            <p class="card-text text-white">Certainly, If you have a project in mind, we'd be
                                happy
                                to help you with
                                it.
                                Please provide us with more details about your project, including the specific
                                goals,
                                requirements, and any challenges you are facing. This will allow us to provide
                                you
                                with tailored
                                guidance and suggestions to make your project a success.</p>

                            <a href="/#get-in-touch" class="btn btn-outline-success text-white">Get In Touch <i
                                    class="fa-solid fa-keyboard"></i></a>

                        </div>
                        <div class="col-md-6">

                            <img src="/img/mind-project.jpg" alt="" width="100%" height="100%" class="card-img">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"><i class="fa-solid fa-laptop"></i> <strong> Our Recent Work
                        Portfolio </strong><i class="fa-solid fa-laptop"></i></h3>
                <div class="col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <img src="/img/snehaanchal.png" alt="" class="card-img">
                                <h5 class="card-title text-white mt-4 text-center"><i class="fa-solid fa-hospital"></i>
                                    Hospital Management Software</h5>

                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <img src="/img/dinshaws.png" alt="" class="card-img">
                                <h5 class="card-title text-white mt-4 text-center"><i class="fa-solid fa-utensils"></i>
                                    Dinshaws Dairy Food Website</h5>

                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <img src="/img/jsw.png" alt="" class="card-img">
                                <h5 class="card-title text-white mt-4 text-center"><i
                                        class="fa-solid fa-laptop-code"></i> JWS Portfolio Website </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mb-4 p-4 
             text-center">
    <div class="card">

        <div class="mt-4 mb-4">
            <h3 class="card-title"><strong><i class="fa-solid fa-gears"></i> Technology Use <i
                        class="fa-solid fa-gears"></i></strong></h3>
        </div>

        <div id="carouselExample" class="carousel slide carousel-fade mb-4" data-bs-touch="false"
            data-bs-interval="false">

            <div class="carousel-inner">
                <div class="carousel-item active pb-4">

                    <img src="/img/boostrap (5).png" width="25%" alt="GFG LOGO">
                </div>
                <div class="carousel-item  pb-4">

                    <div class="text-center">
                        <img src="/img/boostrap (6).png" width="25%" alt="GFG LOGO">
                    </div>
                </div>
                <div class="carousel-item  pb-4">

                    <div class="text-center">
                        <img src="/img/boostrap (4).png" width="25%" alt="GFG LOGO">
                    </div>
                </div>
                <div class="carousel-item  pb-4">

                    <div class="text-center">
                        <img src="/img/boostrap (3).png" width="25%" alt="GFG LOGO">
                    </div>
                </div>
                <div class="carousel-item  pb-4">

                    <div class="text-center">
                        <img src="/img/boostrap (2).png" width="25%" alt="GFG LOGO">
                    </div>
                </div>
                <div class="carousel-item  pb-4">

                    <div class="text-center">
                        <img src="/img/boostrap (1).png" width="25%" alt="GFG LOGO">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">
                    Previous
                </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">
                    Next
                </span>
            </button>
        </div>

    </div>
</div>
<div class="container mb-4 p-4 
             text-center">
    <div class="card">

        <div class="mt-4 mb-4">
            <h3 class="card-title"><strong><i class="fa-solid fa-gears"></i> Development Team <i
                        class="fa-solid fa-gears"></i></strong></h3>
        </div>

        <div id="carouselExample" class="carousel slide carousel-fade mb-4" data-bs-touch="false"
            data-bs-interval="false">

            <div class="carousel-inner">
                <div class="carousel-item active pb-4">

                    <img src="/img/image-team.jpg" class="team-image" width="25%" alt="GFG LOGO">
                    <h5 class="card-title mt-3"><strong>CO-Founder Of Jitu Web Solution</strong></h5>
                    <p class="card-text text-center "><small>FULL STACK DEVELOPER</small></p>
                    <p class="card-text text-center text-white">Jitendra Pardhi</p>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">
                    Previous
                </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">
                    Next
                </span>
            </button>
        </div>

    </div>
</div>
<div class="container mb-4" id="get-in-touch">
    <div class="card">
        <h3 class="card-title mt-2 text-center mb-4"><strong><i class="fa-solid fa-file-lines"></i> Get In Touch <i
                    class="fa-solid fa-keyboard"></i></strong></h3>
        <div class="col-md-12 mb-2">
            <div class="row">
                <div class="col-md-4 mt-4">
                    <div class="container">
                        <form action="">
                            <div class="mb-3">

                                <input type="text" class="form-control  border rounded-pill" name="name"
                                    placeholder="Full Name">
                            </div>
                            <div class="mb-3">

                                <input type="email" class="form-control  border rounded-pill" name="email"
                                    placeholder="Email">
                            </div>
                            <div class="mb-3">

                                <input type="number" class="form-control  border rounded-pill" name="number"
                                    placeholder="+91 Phone Number">
                            </div>
                            <div class="mb-3">

                                <textarea type="text" class="form-control  border rounded-pill" style="height:10vh;"
                                    name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="text-center mt-4">
                                <div class="flex ">
                                    <button class="btn btn-outline-success text-white mr-4">Send Message <i
                                            class="fa-regular fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 mt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="card-text get-h-style "><i class="fa-solid fa-location-dot"></i> Location
                                </h5>
                                <p class="card-text text-white">Madhuban Apartment, <br> New Bidipeth, <br>
                                    Nagpur-440024,
                                    <br>Maharashtra
                                </p>
                                <h5 class="card-text get-h-style "><i class="fa-regular fa-clock"></i> Open Hour</h5>
                                <p class="card-text text-white">Mon-Fri 4:30pm-11:00pm</p>
                            </div>
                            <div class="col-md-4 mt-2">

                                <h5 class="card-text get-h-style "><i class="fa-solid fa-phone-volume"></i> Phone</h5>
                                <p class="card-text text-white">+91 8483931721</p>
                                <h5 class="card-text get-h-style "><i class="fa-regular fa-envelope"></i> Email</h5>
                                <p class="card-text text-white">pardhijitu7694@gmail.com</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>