<div class="container">
    <div class="row">
        <div class="welcome-ui mx-auto">
            <div class="col-md-12">
                <div class="text-center mt-4 ">
                    <h2 class="welcome-heading">Welcome Code With Jitu </h2>
                </div>
                <div class="col-md-5 mx-auto mt-4">
                    <div class="small fw-light">type to search here</div>
                    <form id="searchform " method="get" action="/">
                        <div class="input-group">
                            <input class="form-control border rounded-pill" name="search" id="test" type="search"
                                placeholder="search">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 mx-auto mt-4">

                    <div class="row">
                        <ul style="display: flex !important;  list-style: none;">
                            <li style="padding-right: 20px;">
                                <h6><span class="style-heading">Let's Connect With Jitu </span> <a href=""><i
                                            class="fa-solid fa-arrow-right"></i></a>
                            </li>
                            <li style="padding-left: 5px;"> <a href="https://github.com/jitupardhi7694"><i
                                        class="fa-brands fa-github"></i></a></li>
                            <li style="padding-left: 5px;"> <a href=""><i class="fa-brands fa-facebook"></i></a></li>
                            <li style="padding-left: 5px;"><a href="https://www.instagram.com/jitendrapardhi7694/"> <i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li style="padding-left: 5px;"><a
                                    href="https://www.linkedin.com/in/jitendra-pardhi-2a699b22b/"> <i
                                        class="fa-brands fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                    </h6>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="text-center   mb-4">
        <h2 class="h-style">Our Services</h2>
    </div>
</div>

<div class="container">
    <div class="text-center text-white ">
        <h3><i class="fa-solid fa-code"></i> Lets Start Your Day With Code With Jitu <i class="fa-solid fa-code"></i>
        </h3>
    </div>
</div>



<div class="container mb-4 card-mt">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">UI/UX Design</h5>
                        <a href="#ux/ui" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Full Stack Development</h5>
                        <a href="" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <a href="" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <a href="" class="btn btn-outline-white text-white">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ui/ux " class="mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What is User Experience Design?</h5>
                    <p class="card-text text-white">User experience design, on the other hand, is all about how a web
                        application
                        works. It’s the part of the design process that focuses on making sure that the user experience
                        is as smooth and intuitive as possible. A good UX designer will take into account things like
                        users’ needs and goals, navigation, and overall functionality and process flow when creating a
                        web application.</p>



                    <h5 class="card-title ">The UX Design Process</h5>

                    <p class="card-text text-white">The UX design process typically involves the following steps:</p>
                    <ul>
                        <li>
                            <p class="card-text text-white"><strong> Research:</strong> The first step in the UX design
                                process is to
                                research the
                                needs and goals of your users.
                                This can be done through interviews, surveys, and focus groups. This is usually
                                conducted by a
                                seasoned business analyst.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Planning:</strong> Once you have a good
                                understanding of your users,
                                you can
                                start planning the overall
                                structure and navigation of the web application.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong> Design:</strong> The next step is to design the
                                user interface. This
                                is where
                                you’ll focus on things like
                                color scheme, typography, and layout. Mockups of the design are critical at this stage
                                so
                                stakeholders can see the designer’s vision.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Testing:</strong> Once the interface is designed,
                                it’s important to
                                test it out
                                with real users. This will
                                help you catch any errors or problems with the design.</p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong> Launch:</strong> Once the web application is
                                finalized, it’s time to
                                launch it!
                            </p>
                        </li>
                        <li>
                            <p class="card-text text-white"><strong>Refinement:</strong> Seldom is a complex web
                                application perfect
                                right out of
                                the gate. Actions that appear
                                to be fine in testing may turn out to be quite tedious if done all day long every day. A
                                user
                                interface can be streamlined even more after receiving real world feedback from users.
                            </p>
                        </li>
                    </ul>
                    <h5 class="card-title">UI/UX Design Language</h5>
                    <div class="card-text text-white">HTML, CSS </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="full-stack-developer " class="mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Full Stack Development Introduction</h5>
                    <p class="card-text text-white ">Full stack development is the process of designing,
                        creating,
                        testing, and
                        deploying a complete web application from start to finish. It involves working with various
                        technologies and tools, including front-end web development, back-end web development, and
                        database development. And full stack development is a term used to describe a software engineer
                        or developer who works with both the front and back end of a website or application. A
                        full-stack developer is comfortable working with front-end and back-end technologies that power
                        a website or application. </p>
                    <h5 class="card-title">Front End Development Lnaguage </h5>
                    <p class="card-text text-white">HTML, CSS, JavaScript and Boostrap </p>
                    <h5 class="card-title">Back End Language </h5>
                    <p class="card-text text-white">PHP, NodeJs</p>
                    <h5 class="card-title">Database Use</h5>
                    <p class="card-text text-white">SQL, MySQL</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="web-development mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text text-white">Creating a website consists of two main steps: website development
                        and website design. But it can also entail website programming, website publishing, and database
                        management.</p>

                    <p class="card-text text-white"> Web development refers to the functionality of a website, while web
                        design describes the look of
                        a website. Both are equally important skills when it comes to building a website. You can have
                        the best-looking website that is perfectly curated for your brand, but if it doesn’t function
                        properly, it’s not going to be successful. And vice versa.</p>
                    <h5 class="card-title">Front End Development Lnaguage </h5>
                    <p class="card-text text-white">HTML, CSS, JavaScript and Boostrap </p>
                    <h5 class="card-title">Back End Language </h5>
                    <p class="card-text text-white">PHP, NodeJs</p>
                    <h5 class="card-title">Database Use</h5>
                    <p class="card-text text-white">SQL, MySQL</p>
                </div>
            </div>
        </div>
    </div>
</div>