<%- include('./layout/partials/messages.ejs') %>
    <div class="forget-body">
        <div class="container">
            <div class="text-center mx-auto">
                <h4><i class="fa-sharp fa-solid fa-pen-to-square"></i> Reset Password
                </h4>
            </div>

            <div class="col-md-5 mx-auto mt-4 ">
                <form action="" method="post">
                    <div class="mb-3">
                        <input type="email" class="form-control  border rounded-pill" name="email"
                            placeholder="Enter Email" required>
                    </div>
                    <div class="text-center mt-4">
                        <div class="flex ">
                            <button class="btn btn-outline-success text-white mr-4">Send Email</button>

                        </div>
                        <div class="text-success flex    mt-2">

                            <h6>No Account? <a href="/user/register">Register</a></h6>


                            <h6>Already registered? <a href="/user/login">Login</a></h6>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>