<div class="login-body">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="text-center mx-auto">
                    <h4><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Login </h4>
                </div>

                <div class="col-md-5 mx-auto mt-4 ">
                    <form action="">
                        <div class="mb-3">

                            <input type="email" class="form-control  border rounded-pill" placeholder="Email">
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control  border rounded-pill" placeholder="Password">
                        </div>
                        <div class="text-center mt-4">
                            <div class="flex ">
                                <button class="btn btn-outline-success text-white mr-4">Login</button>
                                <a href="/register" class=" text-white">Register <i
                                        class="fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                            <div class="text-success     mt-2">
                                <a href="/forget-password">
                                    <h6>Forget Password.? </h6>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>