<div class="container">
    <div class="col-md-12">
        <div class="row">
            <video playsinline autoplay muted loop class="video-register">
                <source src="/videos/pexels_videos_2611250 (2160p).mp4" type="video/webm">

            </video>
            <div class="register-body">
                <div class="text-center mx-auto">

                    <h4><i class="fa-sharp fa-solid fa-pen-to-square"></i> <strong>Register </strong></h4>

                </div>

                <div class="col-md-4 mx-auto mt-4 ">
                    <form action="" method="post">
                        <div class="mb-3">

                            <input type="text" class="form-control  border rounded-pill" name="name"
                                placeholder="Your Name">
                        </div>
                        <div class="mb-3">

                            <input type="email" class="form-control  border rounded-pill" name="email"
                                placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control  border rounded-pill" name="password"
                                placeholder="  Password">
                        </div>
                        <div class="mb-3">

                            <input type="password" class="form-control  border rounded-pill" name="confirmPassword"
                                placeholder="Confirm Password">
                        </div>
                        <div class="mb-3">

                            <select class="form-select border rounded-pill" name="role_id"
                                aria-label="Select User Role">
                                <option class="text-dark" selected disabled>Select User Role</option>
                                <option class="text-dark" value="1">User</option>

                            </select>
                        </div>
                        <div class="flex mt-4 text-center">
                            <button class="btn btn-outline-success text-white mr-4"> Register</button>
                            <a href="/login" class=" text-white">Login <i
                                    class="fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>