<%- include('./layout/partials/messages.ejs') %>

    <div class="container">
        <div class="col-md-12 ">
            <div class="row">
                <div class="login-absolute login-body">
                    <div class="text-center mx-auto">
                        <h4><i class="fa-sharp fa-solid fa-right-to-bracket"></i> User Role Name </h4>
                    </div>
                    <div class="col-md-4 mx-auto mt-4 ">
                        <form action="" method="post">
                            <div class="mb-3">
                                <input type="text" class="form-control  border rounded-pill" name="role_name"
                                    placeholder="Enter Role">
                            </div>
                            <div class="text-center mt-4">
                                <div class="flex ">
                                    <button type="submit"
                                        class="btn btn-outline-success text-white mr-4">Submit</button>
                                    <button type="reset" class="btn btn-outline-success text-white mr-4">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>