body {
    background-color: black !important
    ;
    color: rgb(254, 93, 168);
    /* font-family: 'Yeseva One', serif !important; */
    font-family: 'Quicksand', sans-serif !important ;
    /* background: url(../img/background.jpg); */
    background-size: cover;
}
.navbar-toggler {
    border: 1px solid #ffffff !important;
}
.footer-heading {
    text-align: center !important;
}
.fa-sliders {
    color: rgb(254, 93, 168);
}

.dropdown-item:hover {
    background: none !important;
    color: #00ffe7 !important;
    text-decoration: underline !important;
}
.nav-item:hover {
    background: none !important;
    color: #00ffe7 !important;
    text-decoration: underline !important;
}
.form-select {
    background: transparent !important;
    color: aliceblue;
}
.main-container {
    margin-top: 52px !important;
}
/* .dashboard {
    margin-top: 75px;
} */
.alert-container {
    /* position: absolute !important; */
    place-content: space-around !important;
    display: flex !important;
    width: max-content !important;
    margin-top: 54px !important;
    margin-left: 16px !important;
}

video {
    margin-top: -90px !important;
}

.image-logo {
    width: 247px !important;
    height: 42px !important;
}

.get-h-style {
    color: aqua;
}
.video-row {
    width: auto !important;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
.video-register {
    height: 85vh !important;
}
.video-login {
    height: 80vh !important;
}
.video-forget {
    height: 80vh !important;
}
.video-email {
    height: 80vh !important;
}
.text-white {
    text-align: justify;
}
.card {
    background: none;
    box-shadow: 0px 2px 6px 0px gray;
}

.login-body {
    margin: 103px 0 0 0;
    width: -webkit-fill-available;
}
.register-body {
    margin: 15px 0 0 0;
    width: -webkit-fill-available;
}
.forget-body {
    margin: 115px 0 0 0;
    width: -webkit-fill-available;
}

.welcome-heading {
    font-weight: bold;
    color: rgb(254, 93, 168) !important;
    font-size: 3rem;
}
.login-absolute {
    place-items: center;
    display: grid;
}
.welcome-ui {
    padding: 118px 0 0 0;
    font-family: 'Bungee Spice', cursive !important;
    position: absolute;
    width: -webkit-fill-available;
}
.bg {
    background-color: black;
}
.h-style {
    font-family: 'Bungee Spice', cursive !important;
}
.card-mt {
    margin-top: 60px;
}
.navbar-brand {
    color: rgb(254, 93, 168) !important;
    font-size: 1.5rem;
    font-weight: 600;
}
.form-control {
    background: transparent !important;
    color: rgb(0, 255, 30);
}
.form-control:focus {
    background: transparent !important;
    color: rgb(0, 255, 30);
}

.style-heading {
    font-weight: 600;
    color: rgb(0, 255, 30);
}
.btn {
    border-color: rgb(254, 93, 168) !important;
}
.btn:hover {
    background-color: rgb(254, 93, 168) !important;
}

@media (max-width: 757px) {
    .video-register {
        height: 50vh !important;
    }
    .video-login {
        height: 50vh !important;
    }
    .video-forget {
        height: 50vh !important;
    }
    .video-email {
        height: 50vh !important;
    }
    .login-body {
        margin: 59px 0 0 0;
        place-content: center;
        display: grid;
    }
    .main-container {
        margin-top: 0px !important;
    }
    .register-body {
        margin: 26px 0 0 0;
        place-content: center;
        display: grid;
    }
    .forget-body {
        margin: 70px 0;
        place-content: center;
        display: grid;
    }
    .welcome-ui {
        padding: 0 0 0 0;
        place-content: center;
        display: grid;
    }
    .team-image {
        border-radius: 500px;
        height: 22vh !important;
        width: 40vw !important;
    }

    video {
        margin: 0 0 0 0 !important;
    }
    .welcome-heading {
        font-weight: bold;
        color: #00ffe7;
        font-size: 1rem;
        margin: 69px 0 0 0;
    }
    .bg {
        background-color: black;
    }
    .style-heading {
        font-size: 12px !important;
    }
}
.team-image {
    border-radius: 500px;
    height: 42vh;
}
