body {
    background-color: black !important
    ;
    color: rgb(254, 93, 168);
    /* font-family: 'Yeseva One', serif !important; */
    font-family: 'Quicksand', sans-serif !important ;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
}

.login-body {
    margin: 139px 0;
}
.register-body {
    margin: 100px 0;
}

.welcome-heading {
    font-weight: bold;
}
.welcome-ui {
    padding: 130px 0;
}

.navbar-brand {
    color: rgb(254, 93, 168) !important;
    font-size: 1.5rem;
    font-weight: 600;
}
.form-control {
    background: transparent !important;
    color: rgb(0, 255, 30);
}
.form-control:focus {
    background: transparent !important;
    color: rgb(0, 255, 30);
}

.style-heading {
    font-weight: 600;
    color: rgb(0, 255, 30);
}
.btn {
    border-color: rgb(254, 93, 168) !important;
}
.btn:hover {
    background-color: rgb(254, 93, 168) !important;
}

@media (max-width: 567px) {
    .login-body {
        margin: 46px 0;
        place-content: center;
        display: grid;
    }
    .register-body {
        margin: 46px 0;
        place-content: center;
        display: grid;
    }
    .welcome-ui {
        padding: 46px 0;
        place-content: center;
        display: grid;
    }
}
